.item {
    width: 100%;
}

.item .product, .item .price {
    width: 30%;
}

body {
    background-color: #f9f9f9f9;
}

#totalPrice {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#addProduct {
    width: fit-content;
    position: absolute;
    margin: auto;
    left: 0;
    bottom: 0;
    z-index: 1;
}

#addProduct > .card-header:hover {
    cursor: move;
}

@media (max-width: 768px) {
    .item > td:not(.quantity) {
        width: 0;
        padding-right: 20px;
    }   

    #addProduct {
        position: relative;
        width: max-content;
        margin: 0;
        width: 100%;
    }

    #addProduct input {
        margin-bottom: 15px;
    }

    #totalPrice {
        position: relative;
        left: 0;
        bottom: 0;
        font-size: 18px;
        margin-top: 25px;
        float: right;
    }

    #itemList {
        white-space: nowrap;
    }

    #itemList input {
        min-width: 100px;
    }
}